function Square.new 0
push argument 0
pop nothing nothing
push argument 1
pop nothing nothing
push argument 2
pop nothing nothing
call draw 0
pop temp 0
return
function Square.dispose 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Square.draw 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
push nothing nothing
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.erase 0
push constant 0
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
push nothing nothing
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
push constant 0
return
function Square.incSize 0
push nothing nothing
push nothing nothing
add
push constant 254
lt
push nothing nothing
push nothing nothing
add
push constant 510
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call erase 0
pop temp 0
push nothing nothing
push constant 2
add
pop nothing nothing
call draw 0
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
return
function Square.decSize 0
push nothing nothing
push constant 2
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call erase 0
pop temp 0
push nothing nothing
push constant 2
sub
pop nothing nothing
call draw 0
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
return
function Square.moveUp 0
push nothing nothing
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
add
push constant 1
sub
push nothing nothing
push nothing nothing
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
push nothing nothing
push constant 2
sub
pop nothing nothing
push constant 0
not
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
push nothing nothing
add
push nothing nothing
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
return
function Square.moveDown 0
push nothing nothing
push nothing nothing
add
push constant 254
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
push nothing nothing
add
push nothing nothing
push constant 1
add
call Screen.drawRectangle 4
pop temp 0
push nothing nothing
push constant 2
add
pop nothing nothing
push constant 0
not
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
add
push constant 1
sub
push nothing nothing
push nothing nothing
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
return
function Square.moveLeft 0
push nothing nothing
push constant 1
gt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
add
push constant 1
sub
push nothing nothing
push nothing nothing
push nothing nothing
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
push nothing nothing
push constant 2
sub
pop nothing nothing
push constant 0
not
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
push constant 1
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
return
function Square.moveRight 0
push nothing nothing
push nothing nothing
add
push constant 510
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
push nothing nothing
push constant 1
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
push nothing nothing
push constant 2
add
pop nothing nothing
push constant 0
not
call Screen.setColor 1
pop temp 0
push nothing nothing
push nothing nothing
add
push constant 1
sub
push nothing nothing
push nothing nothing
push nothing nothing
add
push nothing nothing
push nothing nothing
add
call Screen.drawRectangle 4
pop temp 0
goto IF_END0
label IF_FALSE0
push constant 0
return
