function PongGame.new 0
call Screen.clearScreen 0
push constant 50
push constant 230
push constant 229
push constant 7
call .new 4
push constant 253
push constant 222
push constant 0
push constant 511
push constant 0
push constant 229
call .new 6
push constant 400
push constant 0
call ball.setDestination 2
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
push constant 22
push constant 0
call Output.moveCursor 2
push Score: 0
call Output.printString 1
push constant 0
push constant 0
push constant 0
function PongGame.dispose 0
call bat.dispose 0
call ball.dispose 0
call Memory.deAlloc 1
pop temp 0 
push constant 0 
return
function PongGame.newInstance 0
call .new 0
pop temp 0 
push constant 0 
return
function PongGame.getInstance 0
function PongGame.run 0
push constant 0
test
not
call .keyPressed 0
call bat.move 0
call moveBall 0
push constant 50
call Sys.wait 1
push constant 130
test
push constant 1
call bat.setDirection 1
push constant 132
test
push constant 2
call bat.setDirection 1
push constant 140
test
push constant 0
test
not
call .keyPressed 0
call bat.move 0
call moveBall 0
push constant 50
call Sys.wait 1
push constant 10
push constant 27
call Output.moveCursor 2
push Game Over
call Output.printString 1
pop temp 0 
push constant 0 
return
function PongGame.moveBall 0
call .move 0
push constant 0
test
test
not
push constant 0
call .getLeft 0
call .getRight 0
call .getLeft 0
call .getRight 0
push constant 4
test
test
test
or
push constant 10
add
test
push constant 1
push constant 10
sub
test
push constant 1
push constant 2
sub
call bat.setWidth 1
push constant 1
add
push constant 22
push constant 7
call Output.moveCursor 2
call Output.printInt 1
call ball.bounce 1
pop temp 0 
push constant 0 
return
